mat-card {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

mat-card-title {
  padding: 8px;
  font-weight: bold;
  color: rgba(240, 102, 0, 1);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-bottom-color: rgba(240, 102, 0, 1);
}

mat-card-content{
  margin-top: 16px;
}

.ip-button {
  margin-left: 16px;
  color: white;
}

button {
  margin-left: 8px;
  background-color: rgba(240, 102, 0, 1);
}

button:hover {
  background-color: rgb(235, 126, 48);
}

.row {
  align-items: center;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

span {
  color: rgb(0, 212, 212);
  font-weight: bold;
  font-size: 16px;
  margin-left: 16px;
}

mat-option {
  border-style: solid;
  border-color: rgba(172, 172, 172, 0.253);
  border-width: 0px 0.5px 1px 0.5px;
  color: black;
  background-color: white;
}

mat-option:hover {
  background-color: rgb(199, 199, 199) !important;
}

.list-group-item {
  padding: .5rem 1.25rem !important;
}
